@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: white;
  --backgroundGrey: rgba(217, 217, 217, 0.26);
  --backgroundSecond: rgba(238, 238, 238, 0.4);
  --foreground: black;
  --main: rgba(7, 13, 89, 1);
  --borderColor: rgba(190, 190, 190, 0.5);
  --text2: rgba(102, 102, 102, 0.5);
  --maingray: rgba(102, 102, 102, 1);
  --lighttext: rgba(166, 166, 166, 1);
  --title: rgba(31, 39, 68, 1);
  --black100: rgba(53, 58, 69, 1);
  --error: red;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --main: #024950;
}

@theme {
  --color-background: var(--background);
  --color-backgroundGrey: var(--backgroundGrey);
  --color-backgroundSecond: var(--backgroundSecond);
  --color-foreground: var(--foreground);
  --color-main: var(--main);
  --color-maingray: var(--maingray);
  --color-borderColor: var(--borderColor);
  --color-text2: var(--text2);
  --color-lighttext: var(--lighttext);
  --color-title: var(--title);
  --color-black100: var(--black100);
  --color-error: var(--error);

  --breakpoint-xs: 26rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1rem;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}
@media (80rem < width) {
  .container {
    max-width: 78rem;
  }
}
input:focus,
textarea:focus {
  outline: none;
}
:root {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
button {
  cursor: pointer;
}
