@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: white;
  --backgroundGrey: rgba(217, 217, 217, 0.26);
  --backgroundSecond: rgba(238, 238, 238, 0.4);
  --foreground: black;
  --main: rgb(7, 13, 89);
  --borderColor: rgba(190, 190, 190, 0.5);
  --text2: rgba(102, 102, 102, 0.5);
  --maingray: rgba(102, 102, 102, 1);
  --lighttext: rgba(166, 166, 166, 1);
  --title: rgba(31, 39, 68, 1);
  --black100: rgba(53, 58, 69, 1);
  --error: red;
  --primary1: rgba(59, 113, 254, 1);
  --primary4: rgba(88, 194, 125, 1);
  --neutrals1: rgba(20, 20, 22, 1);
  --neutrals2: rgba(35, 38, 47, 1);
  --neutrals3: rgba(53, 57, 69, 1);
  --neutrals4: rgba(119, 126, 144, 1);
  --neutrals5: rgba(177, 181, 195, 1);
  --neutrals6: rgba(230, 232, 236, 1);
  --neutrals7: rgba(244, 245, 246, 1);
  --neutrals8: rgb(252, 252, 253);
  --glass1: 0px 2.5rem 4rem -2rem rgba(15, 15, 15, 0.1);
  --depth1: 0px 0.5rem 4rem -0.5rem rgba(15, 15, 15, 0.1);
  --depth2: 0px 1.5rem 1.5rem -1rem rgba(15, 15, 15, 0.2);
  --depth3: 0px 2.5rem 2rem -1.5rem rgba(15, 15, 15, 0.12);
  --depth4: 0px 4rem 4rem -3rem rgba(15, 15, 15, 0.08);
  --glass01: 2rem;
}

/* .dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --main: #024950;
} */

@theme {
  --color-background: var(--background);
  --color-backgroundGrey: var(--backgroundGrey);
  --color-backgroundSecond: var(--backgroundSecond);
  --color-foreground: var(--foreground);
  --color-main: var(--main);
  --color-maingray: var(--maingray);
  --color-borderColor: var(--borderColor);
  --color-text2: var(--text2);
  --color-lighttext: var(--lighttext);
  --color-title: var(--title);
  --color-black100: var(--black100);
  --color-error: var(--error);
  --color-primary1: var(--primary1);
  --color-primary4: var(--primary4);
  --color-neutrals1: var(--neutrals1);
  --color-neutrals2: var(--neutrals2);
  --color-neutrals3: var(--neutrals3);
  --color-neutrals4: var(--neutrals4);
  --color-neutrals5: var(--neutrals5);
  --color-neutrals6: var(--neutrals6);
  --color-neutrals7: var(--neutrals7);
  --color-neutrals8: var(--neutrals8);
  --shadow-glass1: var(--glass1);
  --shadow-depth1: var(--depth1);
  --shadow-depth2: var(--depth2);
  --shadow-depth3: var(--depth3);
  --shadow-depth4: var(--depth4);
  --blur-glass01: var(--glass01);

  --breakpoint-xs: 26rem;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1rem;
}

.container {
  margin-inline: auto;
  padding-inline: 1rem;
}
@media (80rem < width) {
  .container {
    max-width: 78rem;
  }
}
input:focus,
textarea:focus {
  outline: none;
}
:root {
  /* font-family: Poppins, sans-serif; */
  font-weight: 400;
}
button {
  cursor: pointer;
}
@media (max-width: 64rem) {
  .showing-up {
    animation: showing 0.4s ease-in-out;
  }
}

@keyframes showing {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.leaflet-control-zoom {
  border-radius: 64px !important;
  box-shadow: var(--depth2);
  overflow: hidden;
}

.leaflet-control-zoom a {
  background-color: var(--neutrals8) !important;
  color: black;
  font-weight: bold;
  span {
    font-size: 1.25rem !important;
    color: var(--neutrals4) !important;
  }
}

/* تعديل شكل Popup */
.leaflet-popup-content {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  padding: 10px;
}

/* إزالة الحد الزائد */
.leaflet-popup-content-wrapper {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.leaflet-popup-tip {
  background: white;
}
